#projects{
  position: relative;
}

.color-container {
  border-color: var(--color1);
}

.project-img{
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title{
  margin: 1rem;
  color: black;
}

