#projects li, ul{
  list-style: none;
}

#projects li{
  border-top: 1px solid var(--color2);
}

#projects li:last-child{
  border-bottom: 1px solid var(--color2);
}

.table-project{
  margin-top: 2rem;
}

.project-link{
  text-decoration: none;
  color: var(--color1);
}

.project-link:hover{
  color: var(--color2);
}

.project-container{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.project-container h2{
  font-size: 3.5rem;
  font-weight: 500;
}

.box-initial{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.hovered{
  width: 100%;
  visibility: visible;
}

.no-hovered{
  width: 0%;
  visibility: hidden;
}

.quadrado, .quadrado-2{
  pointer-events: none;
  max-width: 400px;

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
}

.quadrado{
  background-color: var(--color2);
  background-size: 350px 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--color1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-view{
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* Projects Mobile */

#projects.project-mobile li{
  border-top: none;
} 

.project-mobile > .container-section > .sub-title-container, 
.project-mobile > .container-section > h1{
  margin-left: 4rem;
}

.project-mobile{
  display: none;
}

.projects-mobile-container{
  padding-left: 2.5vw;
  margin: 2rem 0;
}

.mobile-container{
  text-decoration: none;
  color: var(--color1);
}

.picture-project{
  width: 45vw;
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  background-size: 35vw 25vw;
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-project h2{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color2);
  width: 45vw;
  font-size: 3.5vw;
}

.about-project p{
  padding-top: 0.5rem;
  font-size: 2.3vw;
}

.box-mobile{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color1);

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  position: fixed;
}

.project-mobile .box-view{
  font-size: 1rem;
}

@media screen and (max-width: 1440px){
  .project-container h2{
    font-size: 2.5rem;
  }

  .project-container{
    width: 90%;
  }
}

@media screen and (max-width: 1023px){
  .project-desktop{
    display: none;
  }
  .project-mobile{
    display: flex;
  }
}

@media screen and (max-width: 620px){
  .projects-mobile-container{
    padding-left: 4vw;
  }

  .picture-project{
    width: 92vw;
    height: 92vw;

    background-size: 70vw 50vw;
  }
  
  .about-project h2{
    width: 92vw;
    font-size: 6.5vw;
  }
  
  .about-project p{
    padding-top: 0.5rem;
    font-size: 4vw;
  }
}
