  section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  /* PROFILE */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text{
  align-self: center;
  text-align: center;
}

.section__text__p{
  font-weight: 600;
}

.section__text__p1{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.section__text__p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.title{
  font-size: 3rem;
  text-align: center;
}

#socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon svg{
  height: 2rem;
  width: 2rem;
}

/* BUTTONS */

.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn{
  font-weight: 600;
  width: 8rem;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover{
  color: white;
  background: var(--color3);
  border: 0.1rem solid var(--color3);
} 

.btn-color-1:hover{
  background: var(--color1);
  border: 0.1rem solid var(--color1);
}

.btn-color-2{
  background: none;
  color: var(--color1);
  border: 0.1rem solid var(--color1);
}

