nav, .nav-links{
  display: flex;
}

nav{
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
}

.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-a, .nav-b {
  color: var(--color1);
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}

.nav-a:after, .nav-b::after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-a::after{
  background: var(--color1);
}

.nav-b::after{
  background: var(--color2);
}

.nav-a:hover:after, .nav-b:hover:after { 
  width: 100%; 
  left: 0; 
}

.logo{
  font-size: 2rem;
  color: var(--color1);
}

.logo a{
  text-decoration: none;
  color: var(--color1);
}

@media screen and (max-width: 1200px){
 #desktop-nav{
  display: none;
 } 
}

@media screen and (max-width: 600px){
  .logo{
    font-size: 1.5rem;
  }
 }