footer{
  padding: 2rem 0;
  background-color: var(--color2);
}

footer p{
  text-align: center;
}

footer nav{
  justify-content: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px){
  footer nav{
    height: fit-content;
    margin-bottom: 2rem;
  }

  .nav-links lia a{
    font-size: 1rem;
  }

  .nav-links{
    flex-direction: column;
    text-align: center;
  }
}