footer{
  height: 26vh;
  margin: 0 rem;
}

footer p{
  text-align: center;
}

@media screen and (max-width: 600px){
  footer nav{
    height: fit-content;
    margin-bottom: 2rem;
  }

  .nav-links lia a{
    font-size: 1rem;
  }

  .nav-links{
    flex-direction: column;
    text-align: center;
  }
}