#experience{
  margin-top: 5rem;
  position: relative;
}

.experience-sub-title{
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container{
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

.article-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article{
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}

article .icon{
  cursor: default;
}

@media screen and (max-width: 1200px){
  #experience, .experience-details-container{
    margin: 2rem;
  }
}

@media screen and (max-width: 600px){
  .experience-sub-title{
    font-size: 1.25rem;
  }
}
