.container-ability{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

@media screen and (max-width: 1000px){
  .container-ability{
    flex-direction: column;
    gap: 4vh;
  }
}
